vendor/
node_modules/
.env
.git/
__MACOSX/
*.rar
*.jpg
database/database.sqlite
test/
tests/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/cache/data/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore